<h4 class="ui horizontal divider header">
  <i class="building icon"></i>
  Departments
</h4>
<div class="ui segment">
  <div class="ui container">
    <div class="ui cards">
      <div class="ui centered card" *ngFor="let department of departments">
        <div class="content center aligned">
          <div class="header centered">
            {{department.deptNo}}
          </div>
          <div class="description">
            {{department.deptName}}
          </div>
        </div>
        <a class="ui bottom attached button" routerLink="/departments/{{department.deptNo}}/start/1/limit/10">
          View
        </a>
      </div>
    </div>
  </div>
</div>
