<h4 class="ui horizontal divider header">
<i class="building icon"></i>
{{departmentDTO?.department.deptName}}
</h4>
<div class="ui segment">
  <div class="ui active inverted dimmer" *ngIf="loading">
    <div class="ui text loader">Loading</div>
  </div>
  <div class="ui segment">
    <div class="ui two column very relaxed grid">
      <div class="column">
        <h5 class="ui header">Department information</h5>
        <table class="ui definition table">
          <tbody>
            <tr>
              <td class="two wide column">Number</td>
              <td>{{departmentDTO?.department.deptNo}}</td>
            </tr>
            <tr>
              <td>Name</td>
              <td>{{departmentDTO?.department.deptName}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="column">
        <h5 class="ui header">Department manager</h5>
        <table class="ui definition table">
          <tbody>
            <tr>
              <td class="four wide column">Employee number</td>
              <td><a routerLink="/employees/{{currentManager?.empNo}}">{{currentManager.empNo}}</a></td>
            </tr>
            <tr>
              <td>First name</td>
              <td>{{currentManager?.firstName}}</td>
            </tr>
            <tr>
              <td>Last name</td>
              <td>{{currentManager?.lastName}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <h5 class="ui horizontal divider header">
    <i class="users icon"></i>
    Employees
  </h5>
  <app-employees-list-table [employees]="departmentDTO.employees"></app-employees-list-table>
  <h4 class="ui horizontal divider header"></h4>
</div>
